In [1]:
# ------ Loop ------------

In [4]:
my_list = [10,20,30,40,50,60,70]

In [5]:
my_list[0]

10

In [6]:
my_list[0] / 5 *  2

4.0

In [9]:
for num in my_list:
    print(num)

10
20
30
40
50
60
70

In [14]:
print("for loop started")
for x in my_list:
    newNumber = x / 5 *2 
    print(newNumber)
print("for loop ended")

for loop started
4.0
8.0
12.0
16.0
20.0
24.0
28.0
for loop ended

In [18]:
for y in my_list:
    if y % 6 == 0:
        print(y)

30
60

In [19]:
for number in my_list:
    if number % 2 == 0:
        print(number)

10
20
30
40
50
60
70

In [20]:
myString = "sonerA1"

In [21]:
for c in myString:
    print(c)

s
o
n
e
r
A
1

In [22]:
myTuple = (10,20,30,40,50,60,70)

In [23]:
for num in myTuple:
    print(num / 5 * 2)

4.0
8.0
12.0
16.0
20.0
24.0
28.0

In [24]:
myTuple

(10, 20, 30, 40, 50, 60, 70)

In [25]:
myNewList = [("a","b"),("c","d"),("e","f"),("g","h")]

In [26]:
len(myNewList)

4

In [27]:
myNewList[0]

('a', 'b')

In [28]:
for element in myNewList:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [29]:
#tuple unpacking

In [30]:
myNewList[0][1]

'b'

In [31]:
for(x,y) in myNewList:
    print(y)

b
d
f
h

In [33]:
myTuple = [(0,1,2),(3,4,5),(6,7,8),(9,10,11)]

In [34]:
len(myTuple)

4

In [35]:
for(x,y,z) in myTuple:
    print(x)

0
3
6
9

In [36]:
# continiue -break -pass

In [38]:
myList = [10,20,30,40,50,60,70]

In [40]:
print("for loop started")
for num in myList:
    print(num)
print("for loop ended")

for loop started
10
20
30
40
50
60
70
for loop ended

In [48]:
for num in myList:
    print(num)
    if num == 40:        
        print("yes")

10
20
30
40
yes
50
60
70

In [49]:
for num in myList:
    print(num)
    if num == 40:        
        print("yes")
        break

10
20
30
40
yes

In [51]:
for num in myList:
    print(num)
    if num == 40:        
        print("yes")
        continue

10
20
30
40
yes
50
60
70

In [52]:
for num in myList:
    print(num)
    if num == 40:   
        continue   
        print("yes")

10
20
30
40
50
60
70

In [57]:
for num in myList:    
    if num == 40:   
        continue   
    print(num)

10
20
30
50
60
70

In [59]:
for num in myList: 
    pass

In [60]:
# While

In [61]:
x = 0

In [64]:
while x < 10:
    print(x)
    x = x+1

0
1
2
3
4
5
6
7
8
9

In [71]:
lastList = [10,20,30,40,50]

In [66]:
while 20 in lastList:
    print("20 in last list")
    lastList.remove(20)

20 in last list

In [67]:
lastList

[10, 30, 40, 50]

In [69]:
lastList.append(20)

In [72]:
lastList

[10, 20, 30, 40, 50]

In [73]:
while 20 in lastList:
    print("20 in last list")
    lastList.pop()

20 in last list
20 in last list
20 in last list
20 in last list

In [74]:
my_List = [10,20,30]

In [75]:
print(my_List)

[10, 20, 30]

In [76]:
print("my_List : my_List")

my_List : my_List

In [77]:
print(f"my list : {my_List}")

my list : [10, 20, 30]

In [78]:
name = input("enter name: ")

enter name: soner

In [79]:
print("welcome",name)

welcome soner

In [80]:
print(f"welcome {name}")

welcome soner

In [81]:
p= 0
while p < 20:
    print(f"value of p: {p}")
    p +=1

value of p: 0
value of p: 1
value of p: 2
value of p: 3
value of p: 4
value of p: 5
value of p: 6
value of p: 7
value of p: 8
value of p: 9
value of p: 10
value of p: 11
value of p: 12
value of p: 13
value of p: 14
value of p: 15
value of p: 16
value of p: 17
value of p: 18
value of p: 19